
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<br/>
<div class="contact">
    <p> Sofia, Bulgaria</p>
    <p>str. Tintqva 15-17, first floor</p>
    <p>Software University Ltd.</p>
    <p>Postal code: 1113</p>
</div>

