@using (Html.BeginForm("UploadFile","Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <input type="file" name="Product Picture"/>
    <input type="submit" name="Send"/>
}
@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

